@model IEnumerable<PartA.Models.Person>

@{
    ViewData["Title"] = "People with no pets";
}

<main>
    <h2>People with no pets</h2>
    <ul>
        @foreach (var person in Model)
        {
            <li>
                @person.FirstName @person.LastName
            </li>
        }
    </ul>
</main>
