@model IEnumerable<scbH60Store.Models.Product>

<h2>Products</h2>
<a asp-action="ProductsByCategory" class="btn btn-info">View by category</a>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Stock</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.OrderBy(p => p.Description))
            {
                <tr>
                    <td>@product.Description</td>
                    <td>@product.Stock</td>
                    <td>@product.SellPrice?.ToString("C")</td>
                    <td>
                        <a asp-action="Details" asp-route-productId="@product.ProductId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products available.</p>
}
<a asp-action="Create" class="btn btn-primary">Create New Product</a>
