@model scbH60Store.Models.ProductCategory

<h3>Are you sure you want to delete this category?</h3>
<hr />

<div>
    <h4>
        Category Name: @Html.DisplayFor(model => model.ProdCat)
    </h4>
    <h4>The following products will be deleted!</h4>
    @if (ViewBag.ProductsToDelete != null && ViewBag.ProductsToDelete.Count > 0)
    {
        <ul>
            @foreach (var product in ViewBag.ProductsToDelete)
            {
                <li>@product.Description (@product.Manufacturer)</li>
            }
        </ul>
    }
    else
    {
        <p>No products found in this category.</p>
    }
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <button type="submit" class="btn btn-danger">Delete</button> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
