@model scbH60Store.Models.ProductCategory

<h2>Edit Product Category</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="ProdCat" class="control-label"></label>
        <input asp-for="ProdCat" class="form-control" />
        <span asp-validation-for="ProdCat" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="CategoryId" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
