@model IEnumerable<scbH60Store.Models.ProductCategory>

<h2>Product Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(p => p.ProdCat))
        {
            <tr>
                <td>
                    <a asp-action="CategoryProducts" asp-route-id="@item.CategoryId">@item.ProdCat</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-CategoryId="@item.CategoryId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>
